.scroll-anchor {
  top: -70px;
  position: relative;
  visibility: hidden;
  display: block;
}

.left-align {
  text-align: left;
  display: inline-block;
}

.category-list {
  display: table;

  .category {
    display: table-row;

    .category-cell {
      display: table-cell;
      text-align: left;
      border-right: 4px solid transparent;
      border-bottom: 13.5px solid transparent;
      font-size: 14px;

      svg {
        height: 12px;
        width: 12px;
        margin-bottom: 0px;
        position: relative;
        top: 1px;
        fill: #6b4fbb;
      }

    }

    .category-cell:last-child {
      border-right: 0 none;
    }

  }

  .category:last-row {
    border-bottom: 0 none;
  }

}

.maturity-cell {
  text-align: center;

  svg {
    height: 20px;
    width: 20px;
    margin-bottom: 0px;
    fill: #6b4fbb;
    position: relative;
    top: 3px;
  }
}

.maturity-intro {
  width: 100%;
  margin-top: 50px;
  margin-bottom:50px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #d3d3d3;
}

#maturity-no-padding {
  padding: 0px;
}

.stage-table {
  background-color: #ffffff;
  border-style: hidden;

  .stage-row {

    padding: 0px;
    border: 0px;
    border-spacing: 0px;
    margin-bottom: 0px;

    a {
      color: #6b4fbb;
    }

    svg {
      height: 50px;
      fill: #6b4fbb;
    }

    p {
      margin: 0px;
    }

    li {
      margin: 0px;
    }

    .stage-icon {
      font-size: 20px;
      border-right: 0px;
      vertical-align: middle;
      text-align: center;

      p {
        margin: 0px;
      }

    }

    .stage-maturity {
      border-left: 0px;
      border-right: 0px;
      padding: 10px;
      text-align: center;
    }

    .stage-contributions {
      overflow: hidden;
      border-left: 0px;
      padding: 10px;
      text-align: center;
    }
    
  }

}

.legend-table {
  border-collapse: collapse;

  td {
    border: 0;
  }

}

.legend-list {
  list-style: none;
  padding-left: 0;

  svg {
    height: 1em;
    width: 1em;
    fill: #6b4fbb;
    top: .125em;
    position: relative;
  }

}

.drop-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #ffffff;
}

.maturity-chart-embed {
  height: 100px;
  padding: 0px;
}

.maturity-chart {
  height: 500px;
  margin-bottom: 30px;
}