---
layout: free-trial
title: Free Trial - GitLab Self-Managed
description: "Try all GitLab features - free for 30 days"
extra_css:
  - pricing.css
  - free-trial.css
---

.gitlab-content.container
  .headline-container
    %h1.bold-headline.color-gray
      Try all GitLab features -
      %span.color-primary
        free for 30 days
    %p.margin-top10
      GitLab is more than just source code management or CI/CD. It is a full software development lifecycle & DevOps tool in a
      %span.text-bold
        single application.
    %h4.question
      Start your Self-Managed GitLab free trial

.tab-container
  .tab-content
    .tab-pane.active#self-managed{ role: "tabpanel"}
      .container
        .form-container
          .centered-form.self-hosted-signup-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_2150
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 2150, function(form) {
                //
                if(typeof(Demandbase) === "object"){
                  Demandbase.utils.loadFormModule();
                };
                //
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'trial', mktoFormId: form.getId()});
                  return false;
                });
              });
          .confirmform{ style: "visibility:hidden;" }
            %p Thanks for signing up for your free trial! You will get additional instructions in your inbox shortly.

= partial "includes/free-trial/features"
= partial "includes/home/customer-logos-transparent"
= partial "includes/layout/footer-blank"

