---
layout: default
title: Modernize your CI/CD eBook
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/modernize-your-ci-cd?x=RSo4AM&lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook."
success_message: "You will also receive an copy of the eBook sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Fuel long-term growth and innovation
        %h2.page-headline How the right CI/CD keeps organizations competitive

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Continuous integration and delivery helps DevOps teams ship higher quality software, faster. But is all CI/CD created equal? What does successful CI/CD implementation look like and how do you know you’re on the right track?
            
            %p Modernizing architectures and embracing CI/CD is what successful companies are doing to release better software and increase development speed. The right CI/CD strategy can generate more revenue and increase developer productivity.

            %h3 What you’ll learn in this eBook:
            %ul
              %li DevOps challenges comprehensive CI/CD can solve
              %li The revenue impact of a good vs. poor CI/CD strategy
              %li How to find the right CI/CD solution for your needs

            %p Download the ebook to learn how modernizing your CI/CD can give you a competitive advantage.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }
